[Desktop Entry]
Type=Application
Name=Install Arco-GzR
Comment=Installer for Arco-GzR
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc sudo -E calamares
Icon=gzr-calamares-logo
