[Desktop Entry]
Type=Application
Name=Install Arco-GzR
Comment=Installer for Arco-GzR
Categories=Utility;
Exec=sudo /usr/bin/calamares  -d > installation.log
Icon=gzr-calamares-logo
